<?xml version="1.0" encoding="utf-8"?>
<fontMetrics file="Texture.png">
  <character key="32">
    <x>0</x>
    <y>0</y>
    <width>21</width>
    <height>51</height>
  </character>
  <character key="33">
    <x>21</x>
    <y>0</y>
    <width>16</width>
    <height>51</height>
  </character>
  <character key="34">
    <x>37</x>
    <y>0</y>
    <width>21</width>
    <height>51</height>
  </character>
  <character key="35">
    <x>58</x>
    <y>0</y>
    <width>35</width>
    <height>51</height>
  </character>
  <character key="36">
    <x>93</x>
    <y>0</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="37">
    <x>121</x>
    <y>0</y>
    <width>39</width>
    <height>51</height>
  </character>
  <character key="38">
    <x>160</x>
    <y>0</y>
    <width>31</width>
    <height>51</height>
  </character>
  <character key="39">
    <x>191</x>
    <y>0</y>
    <width>16</width>
    <height>51</height>
  </character>
  <character key="40">
    <x>207</x>
    <y>0</y>
    <width>22</width>
    <height>51</height>
  </character>
  <character key="41">
    <x>229</x>
    <y>0</y>
    <width>23</width>
    <height>51</height>
  </character>
  <character key="42">
    <x>252</x>
    <y>0</y>
    <width>24</width>
    <height>51</height>
  </character>
  <character key="43">
    <x>276</x>
    <y>0</y>
    <width>32</width>
    <height>51</height>
  </character>
  <character key="44">
    <x>308</x>
    <y>0</y>
    <width>17</width>
    <height>51</height>
  </character>
  <character key="45">
    <x>325</x>
    <y>0</y>
    <width>22</width>
    <height>51</height>
  </character>
  <character key="46">
    <x>347</x>
    <y>0</y>
    <width>16</width>
    <height>51</height>
  </character>
  <character key="47">
    <x>363</x>
    <y>0</y>
    <width>25</width>
    <height>51</height>
  </character>
  <character key="48">
    <x>0</x>
    <y>51</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="49">
    <x>28</x>
    <y>51</y>
    <width>16</width>
    <height>51</height>
  </character>
  <character key="50">
    <x>44</x>
    <y>51</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="51">
    <x>72</x>
    <y>51</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="52">
    <x>100</x>
    <y>51</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="53">
    <x>128</x>
    <y>51</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="54">
    <x>156</x>
    <y>51</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="55">
    <x>184</x>
    <y>51</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="56">
    <x>212</x>
    <y>51</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="57">
    <x>240</x>
    <y>51</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="58">
    <x>268</x>
    <y>51</y>
    <width>16</width>
    <height>51</height>
  </character>
  <character key="59">
    <x>284</x>
    <y>51</y>
    <width>18</width>
    <height>51</height>
  </character>
  <character key="60">
    <x>302</x>
    <y>51</y>
    <width>21</width>
    <height>51</height>
  </character>
  <character key="61">
    <x>323</x>
    <y>51</y>
    <width>30</width>
    <height>51</height>
  </character>
  <character key="62">
    <x>353</x>
    <y>51</y>
    <width>21</width>
    <height>51</height>
  </character>
  <character key="63">
    <x>374</x>
    <y>51</y>
    <width>26</width>
    <height>51</height>
  </character>
  <character key="64">
    <x>0</x>
    <y>102</y>
    <width>35</width>
    <height>51</height>
  </character>
  <character key="65">
    <x>35</x>
    <y>102</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="66">
    <x>63</x>
    <y>102</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="67">
    <x>91</x>
    <y>102</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="68">
    <x>119</x>
    <y>102</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="69">
    <x>147</x>
    <y>102</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="70">
    <x>175</x>
    <y>102</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="71">
    <x>203</x>
    <y>102</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="72">
    <x>231</x>
    <y>102</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="73">
    <x>259</x>
    <y>102</y>
    <width>16</width>
    <height>51</height>
  </character>
  <character key="74">
    <x>275</x>
    <y>102</y>
    <width>27</width>
    <height>51</height>
  </character>
  <character key="75">
    <x>302</x>
    <y>102</y>
    <width>27</width>
    <height>51</height>
  </character>
  <character key="76">
    <x>329</x>
    <y>102</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="77">
    <x>357</x>
    <y>102</y>
    <width>40</width>
    <height>51</height>
  </character>
  <character key="78">
    <x>397</x>
    <y>102</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="79">
    <x>425</x>
    <y>102</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="80">
    <x>0</x>
    <y>153</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="81">
    <x>28</x>
    <y>153</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="82">
    <x>56</x>
    <y>153</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="83">
    <x>84</x>
    <y>153</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="84">
    <x>112</x>
    <y>153</y>
    <width>34</width>
    <height>51</height>
  </character>
  <character key="85">
    <x>146</x>
    <y>153</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="86">
    <x>174</x>
    <y>153</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="87">
    <x>202</x>
    <y>153</y>
    <width>40</width>
    <height>51</height>
  </character>
  <character key="88">
    <x>242</x>
    <y>153</y>
    <width>29</width>
    <height>51</height>
  </character>
  <character key="89">
    <x>271</x>
    <y>153</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="90">
    <x>299</x>
    <y>153</y>
    <width>29</width>
    <height>51</height>
  </character>
  <character key="91">
    <x>328</x>
    <y>153</y>
    <width>24</width>
    <height>51</height>
  </character>
  <character key="92">
    <x>352</x>
    <y>153</y>
    <width>25</width>
    <height>51</height>
  </character>
  <character key="93">
    <x>377</x>
    <y>153</y>
    <width>24</width>
    <height>51</height>
  </character>
  <character key="94">
    <x>401</x>
    <y>153</y>
    <width>30</width>
    <height>51</height>
  </character>
  <character key="95">
    <x>431</x>
    <y>153</y>
    <width>27</width>
    <height>51</height>
  </character>
  <character key="96">
    <x>0</x>
    <y>204</y>
    <width>18</width>
    <height>51</height>
  </character>
  <character key="97">
    <x>18</x>
    <y>204</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="98">
    <x>46</x>
    <y>204</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="99">
    <x>74</x>
    <y>204</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="100">
    <x>102</x>
    <y>204</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="101">
    <x>130</x>
    <y>204</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="102">
    <x>158</x>
    <y>204</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="103">
    <x>186</x>
    <y>204</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="104">
    <x>214</x>
    <y>204</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="105">
    <x>242</x>
    <y>204</y>
    <width>16</width>
    <height>51</height>
  </character>
  <character key="106">
    <x>258</x>
    <y>204</y>
    <width>27</width>
    <height>51</height>
  </character>
  <character key="107">
    <x>285</x>
    <y>204</y>
    <width>27</width>
    <height>51</height>
  </character>
  <character key="108">
    <x>312</x>
    <y>204</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="109">
    <x>340</x>
    <y>204</y>
    <width>40</width>
    <height>51</height>
  </character>
  <character key="110">
    <x>380</x>
    <y>204</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="111">
    <x>408</x>
    <y>204</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="112">
    <x>0</x>
    <y>255</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="113">
    <x>28</x>
    <y>255</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="114">
    <x>56</x>
    <y>255</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="115">
    <x>84</x>
    <y>255</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="116">
    <x>112</x>
    <y>255</y>
    <width>34</width>
    <height>51</height>
  </character>
  <character key="117">
    <x>146</x>
    <y>255</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="118">
    <x>174</x>
    <y>255</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="119">
    <x>202</x>
    <y>255</y>
    <width>40</width>
    <height>51</height>
  </character>
  <character key="120">
    <x>242</x>
    <y>255</y>
    <width>29</width>
    <height>51</height>
  </character>
  <character key="121">
    <x>271</x>
    <y>255</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="122">
    <x>299</x>
    <y>255</y>
    <width>29</width>
    <height>51</height>
  </character>
  <character key="123">
    <x>328</x>
    <y>255</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="124">
    <x>356</x>
    <y>255</y>
    <width>16</width>
    <height>51</height>
  </character>
  <character key="125">
    <x>372</x>
    <y>255</y>
    <width>28</width>
    <height>51</height>
  </character>
  <character key="126">
    <x>400</x>
    <y>255</y>
    <width>30</width>
    <height>51</height>
  </character>
  <character key="127">
    <x>430</x>
    <y>255</y>
    <width>28</width>
    <height>51</height>
  </character>
</fontMetrics>